<mat-toolbar color="primary" class="bottomLine"></mat-toolbar>
<mat-toolbar color="accent" class="bottombar">
  <a mat-flat-button routerLink="/privacy" color="accent" class="pinkLink">Aviso de privacidad</a>
  <span class="example-spacer"></span>
  <span class="buttonss">
    <button mat-mini-fab [class.mat-elevation-z0]="true">
      <img src="./../../assets/fb.png" height="32"
        onClick="window.open('https://www.facebook.com/KaCham-Games-104996357774221')">
    </button>
    <button mat-mini-fab [class.mat-elevation-z0]="true">
      <img src="./../../assets/insta.png" height="32">
    </button>
    <button mat-mini-fab [class.mat-elevation-z0]="true">
      <img src="./../../assets/mail.png" height="32">
    </button></span>
</mat-toolbar>