<div class="divided">
  <mat-card [class.mat-elevation-z0]="true">

    <div class="centerCard">
      <h1 class="Pinku">Acerca de nosotros</h1>
      <mat-divider inset=true></mat-divider>
      <br>
      <div class="someContainer">
      <mat-grid-list cols="2" rowHeight="2:1" class="tiles">
        <mat-grid-tile>
          <mat-card class="someCard" [class.mat-elevation-z8]="true">
            K
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="someCard" [class.mat-elevation-z8]="true">
            S
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="someCard" [class.mat-elevation-z8]="true">
              blah blah
            </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-card class="someCard" [class.mat-elevation-z8]="true">
              blah blah
            </mat-card>
          </mat-grid-tile>

      </mat-grid-list>
    </div>
    </div>
  </mat-card>
</div>
