.push 
  height: 100px

mat-grid-tile 
  background: lightblue

  
.Pinku
    color:     #f79ab1
    
.diveder 
    margin-bottom: 20px
    

.divided
    margin-top:     20px
    margin-left:    10%
    margin-right:   10%

.centerCard
    margin-left:    0%
    margin-right:   0%

.someContainer
    min-height: 700px

.tiles
    vertical-align: center

.someCard
  width:  80%
  height: 70%