<div *ngIf="!mobileOn; else mobilemode" class="divided">
  <mat-card class="nobg" [class.mat-elevation-z0]="true">
    <div class="centerCard">
      <div class="someContainer">
        <mat-card class="nobg ahundredwi" [class.mat-elevation-z0]="true">
          <h1 class="Pinku">Acerca de nosotros</h1>
          <mat-divider></mat-divider>
        </mat-card>
        <mat-grid-list cols="2" rowHeight="260px" class="tiles">
          <mat-grid-tile [colspan]="2" [rowspan]="1">
            <mat-card [ngClass]="nightMode ? 'someCard2' : 'someCard'" [class.mat-elevation-z8]="true">
              <br>
              <br>
              <h1 mat-dialog-title [ngClass]="nightMode ? 'textuW' : 'textuB'">
                Somos un equipo, y nuesta misión es
              </h1>
              <h1 mat-dialog-title [ngClass]="nightMode ? 'textuW' : 'textuB'">
                crear experiencias preciosas y entretenidas para divertir a la gente.
              </h1>
            </mat-card>
          </mat-grid-tile>
          <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
            <mat-card [ngClass]="nightMode ? 'someCard2' : 'someCard'" [class.mat-elevation-z8]="true">
              <table>
                <tr class="iconcl">
                  <td>
                    <mat-card class="innernobg" [class.mat-elevation-z0]="true">
                      <img src={{card.image}} class="ultra">
                    </mat-card>
                  </td>
                </tr>
                <tr class="else">
                  <td>
                    <mat-card [ngClass]="nightMode ? 'innercard2' : 'innercard'" [class.mat-elevation-z0]="true">
                      <h1 mat-dialog-title [ngClass]="nightMode ? 'textuW' : 'textuB'">
                        {{card.tiitle}}
                      </h1>
                      <mat-divider inset="true"></mat-divider>
                      <br>
                      <h1 mat-dialog-title [ngClass]="nightMode ? 'textuW' : 'textuB'">
                        {{card.subt}}
                      </h1>
                      <h1 mat-dialog-title [ngClass]="nightMode ? 'textuW' : 'textuB'">
                        {{card.resumen}}
                      </h1>
                      <h1 mat-dialog-title [ngClass]="nightMode ? 'textuW' : 'textuB'">
                        {{card.resumen2}}
                      </h1>
                      <br>
                      <button mat-icon-button [class.mat-elevation-z0]="true">
                        <img *ngIf="card.tiitle.includes('arlo'); else isSam " src="./../../assets/Twitter.png" height="32"
                        (click)="openthis(card.red1)">
                        <ng-template #isSam>
                          <img  src="./../../assets/insta.png" height="32"
                        (click)="openthis(card.red1)">
                        </ng-template>
                      </button>
                      <span class="laclas"></span>
                      <button mat-icon-button [class.mat-elevation-z0]="true">
                        <img src="./../../assets/fb.png" height="32"
                        (click)="openthis(card.red2)">
                      </button>
                    </mat-card>
                  </td>
                </tr>
              </table>

            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
  </mat-card>
</div>

<ng-template #mobilemode>
  <mat-card class="nobg" [class.mat-elevation-z0]="true">
    <div class="centerCard">
      <div class="someContainer">
        <mat-card class="nobg ahundredwi" [class.mat-elevation-z0]="true">
          <h1 class="Pinku">Acerca de nosotros</h1>
          <mat-divider></mat-divider>
        </mat-card>
        <mat-grid-list cols="2" rowHeight="90px" class="tiles">
          <mat-grid-tile [colspan]="2" [rowspan]="4">
            <mat-card [ngClass]="nightMode ? 'someCard2' : 'someCard'" [class.mat-elevation-z8]="true">
              <br>
              <div class= "cenetredT">
                <h1 mat-dialog-title [ngClass]="nightMode ? 'textuW' : 'textuB'">
                  Somos un equipo, y nuesta misión es crear experiencias preciosas y entretenidas para divertir a la gente.
                </h1>
              </div>
            </mat-card>
          </mat-grid-tile>
          <mat-grid-tile *ngFor="let card of cards | async" [colspan]="2" [rowspan]="9">
            <mat-card [ngClass]="nightMode ? 'someCard2' : 'someCard'" [class.mat-elevation-z8]="true">
              <br>
              <img src={{card.image}} class="ultram">
              <br>
              <br>
              <br>
              <mat-card [ngClass]="nightMode ? 'innercard2m' : 'innercardm'" [class.mat-elevation-z0]="true">
                <h1 mat-dialog-title [ngClass]="nightMode ? 'textuW' : 'textuB'">
                  {{card.tiitle}}
                </h1>
                <mat-divider inset="true"></mat-divider>
                <br>
                <h1 mat-dialog-title [ngClass]="nightMode ? 'textuW' : 'textuB'">
                  {{card.subt}}
                </h1>
                <h1 mat-dialog-title [ngClass]="nightMode ? 'textuW' : 'textuB'">
                  {{card.resumen}}
                </h1>
                <h1 mat-dialog-title [ngClass]="nightMode ? 'textuW' : 'textuB'">
                  {{card.resumen2}}
                </h1>
                <br>
                <button mat-icon-button [class.mat-elevation-z0]="true">
                  <img *ngIf="card.tiitle.includes('arlo'); else isSam2 " src="./../../assets/Twitter.png" height="32"
                  (click)="openthis(card.red1)">
                  <ng-template #isSam2>
                    <img  src="./../../assets/insta.png" height="32"
                  (click)="openthis(card.red1)">
                  </ng-template>
                </button>
                <span class="laclas"></span>
                <button mat-icon-button [class.mat-elevation-z0]="true">
                  <img src="./../../assets/fb.png" height="32"
                  (click)="openthis(card.red2)">
                </button>
              </mat-card>


            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
  </mat-card>
</ng-template>

<img src={{bImage}} class="bimage">
