.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 100;
}

.topbar{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 80px;
}

.title-center {
  color: white;
}

.buttonss {
  margin-right: 10%;
}   

.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
 /* position: fixed;
  */
}

h1.example-app-name {
  margin-left: 10px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.example-stretched-tabs {
  max-width: 100%;
}

.smallImg {
  height: 48px;
  width:  48px;
}

.buttonLeft {
  margin-left: 10%;
  margin-right: 10px;
}

.example-spacer {
  flex: 1 1 auto;
} 

.tooltip-cute {
  background: #fd9bb3;
}
