<div class="example-container " [class.example-is-mobile]="mobileQuery.matches">

  <mat-toolbar color="primary" class="example-toolbar topbar" [class.mat-elevation-z6]="true">
    <span class="buttonLeft">
      <button mat-icon-button (click)="goHome()">
        <img src="./../../assets/logopinkb.png" class="smallImg">
      </button>
    </span>

    <h1 class="example-app-name title-center">Kacham</h1>
    <span class="example-spacer"></span>
    <span class="buttonss">
      <button mat-mini-fab matTooltip="Acerca de nosotros" matTooltipClass="tooltip-cute" (click)="goAboutUs()">
        <mat-icon [ngStyle]="{'color':'#f76f90'}">face</mat-icon>
      </button>
    </span>
  </mat-toolbar>
  <div class="wrapper">

    <router-outlet (activate)="onActivate($event)"></router-outlet>

    <div class="push"></div>
    <footer class="footer">
      <app-footer></app-footer>
    </footer>
  </div>
</div>
