.bimage {
  width:  100%;
  z-index: -1;
  position: fixed;
  bottom: 0px;
}

.grid-container {
  margin: 0px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.pink {
  color: #f76f90;
}

.bottomLine {
  height: 5px;
}

.bottombar {
  height: 95px;
}

.ultra {
  border-radius: 30px;
  height:        200px;
}

.ultra2 {
  border-radius: 30px;
  height:        100px;
  margin-top:    10px;
}

.mat-cardd{
  background-color: rgba(255, 255, 255, 0.45);
}

.mat-cardd2{
  background-color: rgba(0, 0, 0, 0.45);
}

.emptycard{
  background-color: rgba(255, 255, 255, 0.0);
}

table {
  width: 100%;
}

tr {
  height: 290px;
}

.tdl {
  width: 40%;
}

.tdlarge {
  width: 50%;
  align-content: center;
  text-align: center;
}

.tdr {
  width: 60%;
}

.minusMili {
  margin-left:  22.5%;
  margin-right: 22.5%;
}

.miliBig {
  margin-left:  5%;
  margin-right: 5%;
}

.innercard {
  height: 200px;
  background-color: rgba(255, 255, 255, 0.55);
  margin-right: 50px;
}

.innercard2 {
  height: 200px;
  background-color: rgba(0, 0, 0, 0.55);
  margin-right: 50px;
}

.ultraBig {
  font-weight: bold;
  font-size: 35px;
  line-height: 38px;
}

h1 {
  font-weight: bold;
}

.whitetext {
  color: white;
}

.blacktext {
  color: black;
}

.ultraBig2 {
  font-size: 35px;
  color: white;
  line-height: 38px;
}

