<div [ngClass]="mobileOn ? 'miliBig' : 'minusMili'">
  <br>
  <br>
  <div class="grid-container">

    <mat-grid-list cols="2" rowHeight={{teibunrow}} gutterSize="100px">
      <mat-grid-tile [colspan]="2" [rowspan]="2">
        <mat-card class="dashboard-card " [ngClass]="nightMode ? 'mat-cardd2' : 'mat-cardd'"
          [class.mat-elevation-z10]="true">
          <mat-card-content class="dashboard-card-content">
            <table class="adaa">
              <tr *ngIf="!mobileOn; else yesmobile">
                <td class="tdl">
                  <div id="carouselExampleControls" class="carousel slide ninetys" data-ride="carousel">
                    <div class="carousel-inner ninetys2">
                      <div class="carousel-item" *ngFor="let ss of appimg"
                        [ngClass]="ss.includes('1.png') ? 'active' : 'summ'">
                        <img class="d-block w-100 roundedCRD" src={{ss}}>
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </td>
                <td class="tdr">
                  <mat-card [ngClass]="nightMode ? 'innercard2' : 'innercard'" [class.mat-elevation-z0]="true">
                    <br>
                    <br>

                    <div *ngIf="nightMode; else lightmode">
                      <br>

                      <p class="ultraBig2">
                        {{appTitle}}
                      </p>
                      <br>
                      <br>
                      <br>
                      <h1 mat-dialog-title class="whitetext">
                        {{appSub}}
                      </h1>
                      <br>
                      <h2 mat-dialog-title class="whitetext">
                        {{appdesc}}
                      </h2>
                      <br>
                      <br>
                      <br>
                      <br>
                      <a href={{urlApple}} target="_blank">
                        <img *ngIf="availableApple" src="./../../assets/appstore.svg" height="80" width="220" />
                      </a>
                      <div *ngIf="availableGoogle">
                        <a href={{urlGoogle}} target="_blank">
                          <img src="./../../assets/playstore.svg" height="80" width="220" />
                        </a>
                      </div>
                    </div>

                    <ng-template #lightmode>
                      <br>
                      <br>
                      <p class="ultraBig" [ngStyle]="{'color' : backgColor}">
                        {{appTitle}}
                      </p>
                      <br>
                      <br>
                      <br>
                      <h1 mat-dialog-title>
                        {{appSub}}
                      </h1>
                      <br>

                      <h2 mat-dialog-title>
                        {{appdesc}}
                      </h2>
                      <br>
                      <br>

                      <a href={{urlApple}} target="_blank">
                        <img *ngIf="availableApple" src="./../../assets/appstore.svg" height="80" width="220" />
                      </a>
                      <div *ngIf="availableGoogle">
                        <a href={{urlGoogle}} target="_blank">
                          <img src="./../../assets/playstore.svg" height="80" width="220" />
                        </a>
                      </div>
                    </ng-template>
                  </mat-card>

                </td>
              </tr>
              <ng-template #yesmobile>
                <tr height="100%">
                  <td>
                    <br>

                    <div class="lesswi" *ngIf="nightMode; else lightmode">
                      <img src={{appico}} class="ultra">
                      <br>
                      <br>
                      <p class="ultraBig2">
                        {{appTitle}}
                      </p>
                      <br>
                      <br>
                      <h1 mat-dialog-title class="whitetext">
                        {{appSub}}
                      </h1>
                      <br>
                      <h2 mat-dialog-title class="whitetext">
                        {{appdesc}}
                      </h2>
                      <br>
                      <br>
                      <br>
                      <br>
                      <a href={{urlApple}} target="_blank">
                        <img *ngIf="availableApple" src="./../../assets/appstore.svg" height="80" width="220" />
                      </a>
                      <div *ngIf="availableGoogle">
                        <a href={{urlGoogle}} target="_blank">
                          <img src="./../../assets/playstore.svg" height="80" width="220" />
                        </a> <br>
                      </div>
                    </div>

                    <ng-template #lightmode>
                      <div class="lesswi">

                        <img src={{appico}} class="ultra">
                        <br>
                        <br>
                        <p class="ultraBig" [ngStyle]="{'color' : backgColor}">
                          {{appTitle}}
                        </p>
                        <br>
                        <br>
                        <br>
                        <h1 mat-dialog-title>
                          {{appSub}}
                        </h1>
                        <br>

                        <h2 mat-dialog-title class="appdesccs">
                          {{appdesc}}
                        </h2>
                        <br>
                        <br>

                        <a href={{urlApple}} target="_blank">
                          <img *ngIf="availableApple" src="./../../assets/appstore.svg" height="80" width="220" />
                        </a>
                        <div *ngIf="availableGoogle">
                          <a href={{urlGoogle}} target="_blank">
                            <img src="./../../assets/playstore.svg" height="80" width="220" />
                          </a>
                        </div>
                      </div>

                    </ng-template>
                  </td>
                </tr>
              </ng-template>
            </table>
            <div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
<img src={{bImage}} class="bimage">
