
.BigText
    padding-top: 20px
    font-size: 40px
    color:     #f79ab1
    
.diveder 
    margin-bottom: 20px
    

.divided
    margin-top:     20px
    margin-left:    10%
    margin-right:   10%

.centerCard
    margin-left:    4%
    margin-right:   4%


