<div class="divided">
  <mat-card [class.mat-elevation-z8]="true">
    
    <div class="centerCard">
      <h1>Aviso de Privacidad</h1>
      <mat-divider inset=true ></mat-divider>
      <br>
      <p>
        Sweet cheesecake toffee soufflé gingerbread marzipan sweet. Lemon drops jelly sugar plum powder. Sweet candy
        canes
        gingerbread sweet roll oat cake pie powder dessert. Candy macaroon marzipan jelly marshmallow carrot cake wafer
        candy canes. Gummies candy sweet cheesecake gummies marshmallow jelly donut pastry. Lollipop soufflé tootsie
        roll
        cotton candy danish dessert. Croissant tiramisu dragée jelly beans toffee soufflé. Soufflé dessert sugar plum
        lemon
        drops tiramisu. Jelly beans biscuit wafer lemon drops bonbon donut. Jelly-o sweet muffin cake pastry. Donut
        gummies
        soufflé sugar plum. Lemon drops sweet roll sugar plum cheesecake powder chocolate candy danish danish. Liquorice
        marzipan cupcake chocolate cake muffin danish.

        Bonbon sugar plum candy canes fruitcake sugar plum. Icing croissant carrot cake cotton candy biscuit chocolate
        brownie cheesecake. Pie fruitcake fruitcake candy ice cream sweet chupa chups sweet roll. Toffee fruitcake
        chocolate
        cake sugar plum cupcake sweet roll. Oat cake powder sugar plum cake lemon drops pie biscuit. Marshmallow
        liquorice
        gingerbread sugar plum. Chocolate bar dragée fruitcake marzipan tootsie roll. Topping marzipan pudding macaroon.
        Danish fruitcake lollipop oat cake cake. Bear claw dessert cheesecake biscuit toffee chocolate bar. Biscuit
        powder
        biscuit. Gummies jelly lollipop caramels apple pie bear claw chocolate cake pie. Tootsie roll tart soufflé lemon
        drops fruitcake toffee toffee cake tootsie roll. Jelly-o tootsie roll cake gummi bears donut wafer.

        Pudding brownie candy canes. Cheesecake toffee bonbon donut cheesecake cookie. Tart liquorice wafer lemon drops
        jelly beans caramels jujubes cheesecake. Chocolate cake muffin sweet muffin tootsie roll. Cotton candy jelly
        beans
        marzipan jelly-o dessert fruitcake jelly-o. Cotton candy bear claw liquorice bonbon chocolate tootsie roll apple
        pie
        powder. Fruitcake pudding donut jujubes brownie. Marshmallow cake caramels bear claw liquorice tart. Cotton
        candy
        chupa chups toffee lemon drops cake chocolate bar chocolate bar. Oat cake cake chocolate cake carrot cake
        pudding.
        Chocolate bar dragée croissant topping candy bear claw soufflé. Carrot cake jelly-o bear claw jelly. Jelly oat
        cake
        dessert apple pie marshmallow chupa chups. Gummies jelly beans donut croissant brownie apple pie sesame snaps
        topping.

        Muffin danish liquorice. Chocolate bar cotton candy gummies soufflé sweet roll sugar plum dragée bear claw
        caramels.
        Cupcake donut donut toffee cotton candy liquorice jelly. Sweet roll dragée gummies chocolate bar toffee apple
        pie
        cotton candy dragée. Pudding jelly beans jelly halvah cupcake. Powder jelly jelly wafer. Chocolate bar tootsie
        roll
        chocolate pie tart dessert gummi bears jelly gummies. Croissant liquorice sugar plum fruitcake cotton candy.
        Croissant chupa chups jelly sweet chupa chups chocolate bar jelly macaroon. Fruitcake pastry fruitcake jujubes
        toffee. Muffin wafer marzipan tiramisu pie jelly beans chocolate bar. Cookie sesame snaps danish macaroon.
        Soufflé
        cake powder.

        Chupa chups jelly chocolate bar fruitcake macaroon. Bear claw lollipop jelly beans cake biscuit cake liquorice.
        Lollipop pudding wafer sesame snaps cookie dragée lemon drops. Icing pastry liquorice tiramisu marshmallow
        biscuit
        lollipop. Dragée chocolate bar bonbon. Macaroon chupa chups ice cream tiramisu sweet roll gummi bears. Sugar
        plum
        apple pie jelly-o brownie sesame snaps marzipan. Lemon drops gummies icing sesame snaps. Pie marzipan donut
        chocolate cake dragée. Fruitcake marshmallow sweet roll. Halvah sesame snaps topping croissant pastry sugar plum
        donut sesame snaps sweet. Cake pastry macaroon powder. Candy candy canes biscuit halvah sugar plum.
        Sweet cheesecake toffee soufflé gingerbread marzipan sweet. Lemon drops jelly sugar plum powder. Sweet candy
        canes
        gingerbread sweet roll oat cake pie powder dessert. Candy macaroon marzipan jelly marshmallow carrot cake wafer
        candy canes. Gummies candy sweet cheesecake gummies marshmallow jelly donut pastry. Lollipop soufflé tootsie
        roll
        cotton candy danish dessert. Croissant tiramisu dragée jelly beans toffee soufflé. Soufflé dessert sugar plum
        lemon
        drops tiramisu. Jelly beans biscuit wafer lemon drops bonbon donut. Jelly-o sweet muffin cake pastry. Donut
        gummies
        soufflé sugar plum. Lemon drops sweet roll sugar plum cheesecake powder chocolate candy danish danish. Liquorice
        marzipan cupcake chocolate cake muffin danish.

        Bonbon sugar plum candy canes fruitcake sugar plum. Icing croissant carrot cake cotton candy biscuit chocolate
        brownie cheesecake. Pie fruitcake fruitcake candy ice cream sweet chupa chups sweet roll. Toffee fruitcake
        chocolate
        cake sugar plum cupcake sweet roll. Oat cake powder sugar plum cake lemon drops pie biscuit. Marshmallow
        liquorice
        gingerbread sugar plum. Chocolate bar dragée fruitcake marzipan tootsie roll. Topping marzipan pudding macaroon.
        Danish fruitcake lollipop oat cake cake. Bear claw dessert cheesecake biscuit toffee chocolate bar. Biscuit
        powder
        biscuit. Gummies jelly lollipop caramels apple pie bear claw chocolate cake pie. Tootsie roll tart soufflé lemon
        drops fruitcake toffee toffee cake tootsie roll. Jelly-o tootsie roll cake gummi bears donut wafer.

        Pudding brownie candy canes. Cheesecake toffee bonbon donut cheesecake cookie. Tart liquorice wafer lemon drops
        jelly beans caramels jujubes cheesecake. Chocolate cake muffin sweet muffin tootsie roll. Cotton candy jelly
        beans
        marzipan jelly-o dessert fruitcake jelly-o. Cotton candy bear claw liquorice bonbon chocolate tootsie roll apple
        pie
        powder. Fruitcake pudding donut jujubes brownie. Marshmallow cake caramels bear claw liquorice tart. Cotton
        candy
        chupa chups toffee lemon drops cake chocolate bar chocolate bar. Oat cake cake chocolate cake carrot cake
        pudding.
        Chocolate bar dragée croissant topping candy bear claw soufflé. Carrot cake jelly-o bear claw jelly. Jelly oat
        cake
        dessert apple pie marshmallow chupa chups. Gummies jelly beans donut croissant brownie apple pie sesame snaps
        topping.

        Muffin danish liquorice. Chocolate bar cotton candy gummies soufflé sweet roll sugar plum dragée bear claw
        caramels.
        Cupcake donut donut toffee cotton candy liquorice jelly. Sweet roll dragée gummies chocolate bar toffee apple
        pie
        cotton candy dragée. Pudding jelly beans jelly halvah cupcake. Powder jelly jelly wafer. Chocolate bar tootsie
        roll
        chocolate pie tart dessert gummi bears jelly gummies. Croissant liquorice sugar plum fruitcake cotton candy.
        Croissant chupa chups jelly sweet chupa chups chocolate bar jelly macaroon. Fruitcake pastry fruitcake jujubes
        toffee. Muffin wafer marzipan tiramisu pie jelly beans chocolate bar. Cookie sesame snaps danish macaroon.
        Soufflé
        cake powder.

        Chupa chups jelly chocolate bar fruitcake macaroon. Bear claw lollipop jelly beans cake biscuit cake liquorice.
        Lollipop pudding wafer sesame snaps cookie dragée lemon drops. Icing pastry liquorice tiramisu marshmallow
        biscuit
        lollipop. Dragée chocolate bar bonbon. Macaroon chupa chups ice cream tiramisu sweet roll gummi bears. Sugar
        plum
        apple pie jelly-o brownie sesame snaps marzipan. Lemon drops gummies icing sesame snaps. Pie marzipan donut
        chocolate cake dragée. Fruitcake marshmallow sweet roll. Halvah sesame snaps topping croissant pastry sugar plum
        donut sesame snaps sweet. Cake pastry macaroon powder. Candy candy canes biscuit halvah sugar plum.
        Sweet cheesecake toffee soufflé gingerbread marzipan sweet. Lemon drops jelly sugar plum powder. Sweet candy
        canes
        gingerbread sweet roll oat cake pie powder dessert. Candy macaroon marzipan jelly marshmallow carrot cake wafer
        candy canes. Gummies candy sweet cheesecake gummies marshmallow jelly donut pastry. Lollipop soufflé tootsie
        roll
        cotton candy danish dessert. Croissant tiramisu dragée jelly beans toffee soufflé. Soufflé dessert sugar plum
        lemon
        drops tiramisu. Jelly beans biscuit wafer lemon drops bonbon donut. Jelly-o sweet muffin cake pastry. Donut
        gummies
        soufflé sugar plum. Lemon drops sweet roll sugar plum cheesecake powder chocolate candy danish danish. Liquorice
        marzipan cupcake chocolate cake muffin danish.

        Bonbon sugar plum candy canes fruitcake sugar plum. Icing croissant carrot cake cotton candy biscuit chocolate
        brownie cheesecake. Pie fruitcake fruitcake candy ice cream sweet chupa chups sweet roll. Toffee fruitcake
        chocolate
        cake sugar plum cupcake sweet roll. Oat cake powder sugar plum cake lemon drops pie biscuit. Marshmallow
        liquorice
        gingerbread sugar plum. Chocolate bar dragée fruitcake marzipan tootsie roll. Topping marzipan pudding macaroon.
        Danish fruitcake lollipop oat cake cake. Bear claw dessert cheesecake biscuit toffee chocolate bar. Biscuit
        powder
        biscuit. Gummies jelly lollipop caramels apple pie bear claw chocolate cake pie. Tootsie roll tart soufflé lemon
        drops fruitcake toffee toffee cake tootsie roll. Jelly-o tootsie roll cake gummi bears donut wafer.

        Pudding brownie candy canes. Cheesecake toffee bonbon donut cheesecake cookie. Tart liquorice wafer lemon drops
        jelly beans caramels jujubes cheesecake. Chocolate cake muffin sweet muffin tootsie roll. Cotton candy jelly
        beans
        marzipan jelly-o dessert fruitcake jelly-o. Cotton candy bear claw liquorice bonbon chocolate tootsie roll apple
        pie
        powder. Fruitcake pudding donut jujubes brownie. Marshmallow cake caramels bear claw liquorice tart. Cotton
        candy
        chupa chups toffee lemon drops cake chocolate bar chocolate bar. Oat cake cake chocolate cake carrot cake
        pudding.
        Chocolate bar dragée croissant topping candy bear claw soufflé. Carrot cake jelly-o bear claw jelly. Jelly oat
        cake
        dessert apple pie marshmallow chupa chups. Gummies jelly beans donut croissant brownie apple pie sesame snaps
        topping.

        Muffin danish liquorice. Chocolate bar cotton candy gummies soufflé sweet roll sugar plum dragée bear claw
        caramels.
        Cupcake donut donut toffee cotton candy liquorice jelly. Sweet roll dragée gummies chocolate bar toffee apple
        pie
        cotton candy dragée. Pudding jelly beans jelly halvah cupcake. Powder jelly jelly wafer. Chocolate bar tootsie
        roll
        chocolate pie tart dessert gummi bears jelly gummies. Croissant liquorice sugar plum fruitcake cotton candy.
        Croissant chupa chups jelly sweet chupa chups chocolate bar jelly macaroon. Fruitcake pastry fruitcake jujubes
        toffee. Muffin wafer marzipan tiramisu pie jelly beans chocolate bar. Cookie sesame snaps danish macaroon.
        Soufflé
        cake powder.

        Chupa chups jelly chocolate bar fruitcake macaroon. Bear claw lollipop jelly beans cake biscuit cake liquorice.
        Lollipop pudding wafer sesame snaps cookie dragée lemon drops. Icing pastry liquorice tiramisu marshmallow
        biscuit
        lollipop. Dragée chocolate bar bonbon. Macaroon chupa chups ice cream tiramisu sweet roll gummi bears. Sugar
        plum
        apple pie jelly-o brownie sesame snaps marzipan. Lemon drops gummies icing sesame snaps. Pie marzipan donut
        chocolate cake dragée. Fruitcake marshmallow sweet roll. Halvah sesame snaps topping croissant pastry sugar plum
        donut sesame snaps sweet. Cake pastry macaroon powder. Candy candy canes biscuit halvah sugar plum.
        Sweet cheesecake toffee soufflé gingerbread marzipan sweet. Lemon drops jelly sugar plum powder. Sweet candy
        canes
        gingerbread sweet roll oat cake pie powder dessert. Candy macaroon marzipan jelly marshmallow carrot cake wafer
        candy canes. Gummies candy sweet cheesecake gummies marshmallow jelly donut pastry. Lollipop soufflé tootsie
        roll
        cotton candy danish dessert. Croissant tiramisu dragée jelly beans toffee soufflé. Soufflé dessert sugar plum
        lemon
        drops tiramisu. Jelly beans biscuit wafer lemon drops bonbon donut. Jelly-o sweet muffin cake pastry. Donut
        gummies
        soufflé sugar plum. Lemon drops sweet roll sugar plum cheesecake powder chocolate candy danish danish. Liquorice
        marzipan cupcake chocolate cake muffin danish.

        Bonbon sugar plum candy canes fruitcake sugar plum. Icing croissant carrot cake cotton candy biscuit chocolate
        brownie cheesecake. Pie fruitcake fruitcake candy ice cream sweet chupa chups sweet roll. Toffee fruitcake
        chocolate
        cake sugar plum cupcake sweet roll. Oat cake powder sugar plum cake lemon drops pie biscuit. Marshmallow
        liquorice
        gingerbread sugar plum. Chocolate bar dragée fruitcake marzipan tootsie roll. Topping marzipan pudding macaroon.
        Danish fruitcake lollipop oat cake cake. Bear claw dessert cheesecake biscuit toffee chocolate bar. Biscuit
        powder
        biscuit. Gummies jelly lollipop caramels apple pie bear claw chocolate cake pie. Tootsie roll tart soufflé lemon
        drops fruitcake toffee toffee cake tootsie roll. Jelly-o tootsie roll cake gummi bears donut wafer.

        Pudding brownie candy canes. Cheesecake toffee bonbon donut cheesecake cookie. Tart liquorice wafer lemon drops
        jelly beans caramels jujubes cheesecake. Chocolate cake muffin sweet muffin tootsie roll. Cotton candy jelly
        beans
        marzipan jelly-o dessert fruitcake jelly-o. Cotton candy bear claw liquorice bonbon chocolate tootsie roll apple
        pie
        powder. Fruitcake pudding donut jujubes brownie. Marshmallow cake caramels bear claw liquorice tart. Cotton
        candy
        chupa chups toffee lemon drops cake chocolate bar chocolate bar. Oat cake cake chocolate cake carrot cake
        pudding.
        Chocolate bar dragée croissant topping candy bear claw soufflé. Carrot cake jelly-o bear claw jelly. Jelly oat
        cake
        dessert apple pie marshmallow chupa chups. Gummies jelly beans donut croissant brownie apple pie sesame snaps
        topping.

        Muffin danish liquorice. Chocolate bar cotton candy gummies soufflé sweet roll sugar plum dragée bear claw
        caramels.
        Cupcake donut donut toffee cotton candy liquorice jelly. Sweet roll dragée gummies chocolate bar toffee apple
        pie
        cotton candy dragée. Pudding jelly beans jelly halvah cupcake. Powder jelly jelly wafer. Chocolate bar tootsie
        roll
        chocolate pie tart dessert gummi bears jelly gummies. Croissant liquorice sugar plum fruitcake cotton candy.
        Croissant chupa chups jelly sweet chupa chups chocolate bar jelly macaroon. Fruitcake pastry fruitcake jujubes
        toffee. Muffin wafer marzipan tiramisu pie jelly beans chocolate bar. Cookie sesame snaps danish macaroon.
        Soufflé
        cake powder.

        Chupa chups jelly chocolate bar fruitcake macaroon. Bear claw lollipop jelly beans cake biscuit cake liquorice.
        Lollipop pudding wafer sesame snaps cookie dragée lemon drops. Icing pastry liquorice tiramisu marshmallow
        biscuit
        lollipop. Dragée chocolate bar bonbon. Macaroon chupa chups ice cream tiramisu sweet roll gummi bears. Sugar
        plum
        apple pie jelly-o brownie sesame snaps marzipan. Lemon drops gummies icing sesame snaps. Pie marzipan donut
        chocolate cake dragée. Fruitcake marshmallow sweet roll. Halvah sesame snaps topping croissant pastry sugar plum
        donut sesame snaps sweet. Cake pastry macaroon powder. Candy candy canes biscuit halvah sugar plum.
        Sweet cheesecake toffee soufflé gingerbread marzipan sweet. Lemon drops jelly sugar plum powder. Sweet candy
        canes
        gingerbread sweet roll oat cake pie powder dessert. Candy macaroon marzipan jelly marshmallow carrot cake wafer
        candy canes. Gummies candy sweet cheesecake gummies marshmallow jelly donut pastry. Lollipop soufflé tootsie
        roll
        cotton candy danish dessert. Croissant tiramisu dragée jelly beans toffee soufflé. Soufflé dessert sugar plum
        lemon
        drops tiramisu. Jelly beans biscuit wafer lemon drops bonbon donut. Jelly-o sweet muffin cake pastry. Donut
        gummies
        soufflé sugar plum. Lemon drops sweet roll sugar plum cheesecake powder chocolate candy danish danish. Liquorice
        marzipan cupcake chocolate cake muffin danish.

        Bonbon sugar plum candy canes fruitcake sugar plum. Icing croissant carrot cake cotton candy biscuit chocolate
        brownie cheesecake. Pie fruitcake fruitcake candy ice cream sweet chupa chups sweet roll. Toffee fruitcake
        chocolate
        cake sugar plum cupcake sweet roll. Oat cake powder sugar plum cake lemon drops pie biscuit. Marshmallow
        liquorice
        gingerbread sugar plum. Chocolate bar dragée fruitcake marzipan tootsie roll. Topping marzipan pudding macaroon.
        Danish fruitcake lollipop oat cake cake. Bear claw dessert cheesecake biscuit toffee chocolate bar. Biscuit
        powder
        biscuit. Gummies jelly lollipop caramels apple pie bear claw chocolate cake pie. Tootsie roll tart soufflé lemon
        drops fruitcake toffee toffee cake tootsie roll. Jelly-o tootsie roll cake gummi bears donut wafer.

        Pudding brownie candy canes. Cheesecake toffee bonbon donut cheesecake cookie. Tart liquorice wafer lemon drops
        jelly beans caramels jujubes cheesecake. Chocolate cake muffin sweet muffin tootsie roll. Cotton candy jelly
        beans
        marzipan jelly-o dessert fruitcake jelly-o. Cotton candy bear claw liquorice bonbon chocolate tootsie roll apple
        pie
        powder. Fruitcake pudding donut jujubes brownie. Marshmallow cake caramels bear claw liquorice tart. Cotton
        candy
        chupa chups toffee lemon drops cake chocolate bar chocolate bar. Oat cake cake chocolate cake carrot cake
        pudding.
        Chocolate bar dragée croissant topping candy bear claw soufflé. Carrot cake jelly-o bear claw jelly. Jelly oat
        cake
        dessert apple pie marshmallow chupa chups. Gummies jelly beans donut croissant brownie apple pie sesame snaps
        topping.

        Muffin danish liquorice. Chocolate bar cotton candy gummies soufflé sweet roll sugar plum dragée bear claw
        caramels.
        Cupcake donut donut toffee cotton candy liquorice jelly. Sweet roll dragée gummies chocolate bar toffee apple
        pie
        cotton candy dragée. Pudding jelly beans jelly halvah cupcake. Powder jelly jelly wafer. Chocolate bar tootsie
        roll
        chocolate pie tart dessert gummi bears jelly gummies. Croissant liquorice sugar plum fruitcake cotton candy.
        Croissant chupa chups jelly sweet chupa chups chocolate bar jelly macaroon. Fruitcake pastry fruitcake jujubes
        toffee. Muffin wafer marzipan tiramisu pie jelly beans chocolate bar. Cookie sesame snaps danish macaroon.
        Soufflé
        cake powder.

        Chupa chups jelly chocolate bar fruitcake macaroon. Bear claw lollipop jelly beans cake biscuit cake liquorice.
        Lollipop pudding wafer sesame snaps cookie dragée lemon drops. Icing pastry liquorice tiramisu marshmallow
        biscuit
        lollipop. Dragée chocolate bar bonbon. Macaroon chupa chups ice cream tiramisu sweet roll gummi bears. Sugar
        plum
        apple pie jelly-o brownie sesame snaps marzipan. Lemon drops gummies icing sesame snaps. Pie marzipan donut
        chocolate cake dragée. Fruitcake marshmallow sweet roll. Halvah sesame snaps topping croissant pastry sugar plum
        donut sesame snaps sweet. Cake pastry macaroon powder. Candy candy canes biscuit halvah sugar plum.
      </p>
    </div>
  </mat-card>
</div>
